.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    :not(:last-child){
     padding: 10px 100px 10px 20px;   
        margin-bottom: 10px;
        border: 1px solid $black;
        border-radius: $radius;
    }
}