.contact-form{
    :not(:last-child){
        padding: 10px 350px 10px 20px;   
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid $black;
        border-radius: $radius;
    }
}