.footer{
    background: url(../../../assets/illustrations/icons-bg.png);

    color: white;

    background-color: $blueGray;
    padding: 50px 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: underline;
    }
}