.card{
    color: $black; 
    box-shadow: $shadow;
    border-radius: $radius;
    width: 310px;
    
    .card-image{
        border-radius: $radius $radius 0px 0px;
        
        background: url(/assets/placeholder.png) no-repeat center;
        background-size: cover;
        height: 150px;
    }
    .card-details{
        & > *{margin-bottom: 20px;}
        padding: 20px;
    }
}
