.card{
    color: $black; 
    box-shadow: $shadow;
    border-radius: $radius;
    width: 310px;
    
    .card-image{    
        background: url(../../../assets/projects/spacewalk.png) no-repeat center;

        border-radius: $radius $radius 0px 0px;
        background-size: cover;
        height: 160px;
    }
    .card-details{
        & > *{margin-bottom: 20px;}
        padding: 20px;
    }

    .one{
        background: url(../../../assets/projects/dbrandIcons.png) no-repeat center;
    }
    .two{
    }

}
