.empty{
    display: none;
}
.menu{
    display: none;
    div{
        width: 20px;
        height: 2px;
        border-radius: 100px;
        background-color: $white;
        margin: 5px 0;      
    }
}
.menu:hover{
    cursor: pointer;
}