.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    margin-top: 100px;

    .details{
        p{text-align: justify;}
        text-justify: inter-word;
        max-width: 25%;
    }
}