.clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .clients-imgs{
        display: flex;
        justify-content: center;
        align-items: center;
        
        img{
            // To prevent user from dragging the logos for various browsers
            -webkit-user-drag: none; 
            -khtml-user-drag: none; 
            -moz-user-drag: none; 
            -o-user-drag: none; 
        }

        & *{margin: 30px;}
        width: 100px;
    }
}