.clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .clients-imgs{
        display: flex;
        justify-content: center;
        align-items: center;
        & *{margin: 30px;}
        width: 100px;
    }
}